langchain==0.3.27
langchain-community==0.3.31
langchain-openai==0.3.28
langchain-text-splitters==0.3.9

faiss-cpu==1.12.0
pypdf==6.0.0

neo4j==6.0.2
openai==1.107.2
python-dotenv==1.1.1

pydantic==2.11.7

guardrails-ai==0.6.7
ragas==0.4.1

streamlit==1.49.1
pandas==2.3.2

SQLAlchemy==2.0.43